<body>
<h1>Craete a new workout plan</h1>
<form action="/CreatePlan" method="GET">

<label>select bodytype:</label>
<select name="bodyType" id="bodyType">
    <option value="none">none</option>
    <option value="muscular">muscular</option>
    <option value="bodybuilder">bodybuilder</option>
</select>

<label>select bodypart to train:</label>
<select name="bodyPart" id="bodyPart">
    <option value="none">none</option>
    <option value="biceps">biceps</option>
    <option value="triceps">triceps</option>
</select>

<label>select gender:</label>
<select name="gender" id="gender">
    <option value="none">none</option>
    <option value="M">M</option>
    <option value="F">F</option>
    <option value="M/F">M/F</option>
</select>

<button type="submit">search</button>
</form>
</body>


