<body>
    
    <h1>register new account</h1>
    <form action="/CreateUser/:User/:Password" method="POST">

    <label>Username:</label>
    <input type="text" name="User"><br>

    <label>Password:</label>
    <input type="password" name="Password"><br>
    <button type="submit">Register</button>
    </form>

    <td><a href="/">home</a></td>
</body>