<form action="/Login" method="GET">
<h1>Login to account</h1>

<label for ="User">Username</label>
<input type="text" name="User"><br><br>

<label for ="Password">Password</label>
<input type="password" name="Password"><br><br>

<button type="submit">Login</button>
</form>

<td><a href="/">home</a></td>
</form>