<body>
    <table>
        <tr>
            <th>userID:</th>
        </tr>
    
        <% Users.forEach((Users)=> { %>
            <tr>
                <td><%=Users.IDno%> </td>
     
    <h1>set days worked out for this week</h1>
    <form action="/SetCurrentDays/<%=Users.IDno%> " method="POST">
    
    <label>Monday</label>
    <select name="Monday" id="Monday">
        <option value="none">none</option>
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>
    
    <label>Tuesday:</label>
    <select name="Tuesday" id="Tuesday">
        <option value="none">none</option>
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>
    
    <label>Wednesday:</label>
    <select name="Wednesday" id="Wednesday">
        <option value="none">none</option>
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>
    
    <label>Thurdays:</label>
    <select name="Thursday" id="Thursday">
        <option value="none">none</option>
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>
    
    <label>Friday:</label>
    <select name="Friday" id="Friday">
        <option value="none">none</option>
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>
    
    <label>Saturday:</label>
    <select name="Saturday" id="Saturday">
        <option value="none">none</option>
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>

    <label>Sunday:</label>
    <select name="Sunday" id="Sunday">
        <option value="none">none</option>
        <option value="yes">yes</option>
        <option value="no">no</option>
    </select>

    <button type="submit">save current days</button>
    </form>
</tr>
<% }) %>
</table>
    <td><a href="/UserMenu">return to main menu</a></td>
    </body>
    