<body>
    <h1></h1>
    <h1>welcome</h1>
    <ul>
    <li><a href="/ViewPlan">View Current training plan</a></td>
    <li><a href="/ViewDays">View days worked out</a></td>
    <li><a href="/ViewDiet">View current diet</a></td>
    <li><a href="/CreatePlan">Create new workout plan</a></td>
    <li><a href="/">log out</a></td>
    </ul>
</body>